.joy {
  text-align: center;
  background-color: rgb(72, 240, 29);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}


body {
   height: 40vmin;
  pointer-events: none; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7d7oa6iLi5QRKEQ43RVSTO9zoDyWEeB0NCQ&usqp=CAU);
  background-size: auto;
  margin-left: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 20%;
  border-radius: 20px;
}
.joy2{
  text-align: center;
  background-color: rgb(72, 240, 29);
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
